*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_header{
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    box-shadow: 0 0 3px 1px #d0d3d6;
    position: fixed;
}
.fa-bars{
    font-size: 1.5em;
}
.btn_general{
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    margin-right: 0.8rem;
 }
.active_gray:active{
    background: #d1cfcf;
    border-radius: 30px;
}
.header_home_btn{
    margin: auto 0;
    color: red;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1em;
    margin-left: 1rem;
}
.header_home_btn:active{
    outline: none;
}
.fas_font{
    font-size: 1.3em;
    
}
.fa-text{
    font-size: 1.35em;
    font-weight: bold;
    color: black;
    font-family:'Oswald', sans-serif;
}
.fa-youtube{
    font-size: 1.4em;
}
.search_input{
    width: 35.12rem;
    height: 2rem;
    padding-left: 1rem;
}
.search_btn{
    background-color: #f8f8f8;
    width: 4.06rem;
    height: 2rem;
    cursor: pointer;
    margin-left: -0.31rem;
    color: #666363;
}
.sign_in__btn{
    width: 6.56rem;
    height: 2.5rem;
    font-weight: 600;
    border: 2px solid rgb(6, 95, 212);
    border-radius: 4px;
    color: rgb(6, 95, 212);
    cursor: pointer;
    background: transparent;
    
}
.sign_circle{
    background: rgb(6, 95, 212)
    ;
    border-radius: 35px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}
.fa-user{
    color: #fff;
    line-height: 1.3rem;
}

.content{
    width: 82.44%;
    height: 1500px;
    margin-top: 3.5rem; 
    float: right;
}
.stickyAside{
    width: 17.56%;
    height: 580px;
    background-color: #f5f5f5;
    position: fixed;
    top: 3.5rem;
    overflow: hidden;
}
.stickyAside:hover{
    overflow: scroll;
}
.hoverGray:hover{
    background: #dcdcdc;
}
.asideGeneral{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #7c7a7a42;
    padding: 0.75rem 0;
}
.asideButtons{
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    padding-left: 1.5rem;
    font-size: 16px;
    outline: none;
    font-weight: bold;
}
.fasNav{
    font-size: 1em;
    color: #7c7a7a;
}
.fa-fire{
    margin-left: 0.2rem;
}
.fontSize{
   font-size: 0.8em;
}
.fasNav::first-letter{
    margin-right: 24px;
}
.asideSignIn{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border-bottom: 1px solid #7c7a7a42;
}
.asideSignInBtn{
    margin-top: 0.6rem;
}
.asideMenuText{
    padding: 0.5rem 1.5rem;
    font-family: 'roboto' , sans-serif;
    font-size: 0.9em;
    color: #606060;
    font-weight: bold;
}
.stickyAside::-webkit-scrollbar {
    width: 0.6em;
}
.stickyAside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.stickyAside::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.asideLinks{
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem 1.5rem;
}
.asideLinksItem{
    text-decoration: none;
    color: #3d3c3c;
    margin-right: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.createVideo{
    width: 11.06rem;
    height: 6rem;
    position: absolute;
    right: 155px;
    top: 3rem;
    display: none;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 0 7px 0 #a8a4a4;
    background: #fff;
}
.pozitionTv{
    display: none;
    height: 13.5rem;
    width: 13.5rem;
    right: 60px;
}
.headerSignInChart{
    width: 30rem;
    height: 100vh;
    background: #fff;
    position: absolute;
    right: 240px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 #a8a4a4;
    display: none;
}
.ChartHeader{
    widows: 100%;
    height: 3.5rem;
    background: #dcdcdc;
}
.chartText{
    font-family: 'Roboto', sans-serif;
    line-height: 3.5rem;
    font-size: 1em;
    margin-left: 10px;
}
.chartSignInBtn{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: rgb(6, 95, 212);
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
}
.chartTextP{
    font-size: 14px;
}
.chartTextSpan{
    font-weight: 600;
}
.chartMainSection{
    display: flex;
    font-size: 17px;
    width: 100%;
    height: 100ch;
    display: flex;
    justify-content: center;  
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    padding-top: 220px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 75px 35px 0 35px;
}
.contententItem{
    width: 210px;
    height: 118px;
    background: pink;
    margin: 0 4px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.image{
    width: 210px;
    height: 118px;
}
.giphy{
    width: 210px;
    height: 118px;
    display: none;
}
.contentItemHeader{
    font-size: 14px;
    margin-bottom: 5px;
}