*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame{
    height: 400px;
    width: 650px;
    background: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.main{
    widows: 602px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.videoPanel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.controls{
    height: 40px;
    width: 97%;
    padding: 10px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.seekBar{
    width: 100%;
    height: 10px;
    background-color: gray;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.fill{
    height: 10px;
    background-color: #dba74a
}
.fas, .fas-stop-circle{
    color: blue;
    font-size: 17px;
    cursor: pointer;
}

.currentTime{
    font-family: monospace;
    font-size: 14px;
    color: #dba74a;    
}
input[type=range]{
    -webkit-appearance: none;;
    background-color: #666;
    height: 4px;
    border-radius: 4px;
    outline: none;  
}
input[type=range] ::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #dba74a;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    cursor: pointer;
}